.login-page {
  &__title {
    text-align: center;
  }

  &__form {
    max-width: 600px;
    margin: 0 auto;
  }

  &__switch-form {
    text-align: center;
    margin-top: 20px;
  }

  &__switcher {
    margin-top: 20px;
  }
}
